name: Test Bit Init
on:
  workflow_dispatch:
jobs:
  install:
    runs-on: ubuntu-latest
    env:
      BIT_CONFIG_ACCESS_TOKEN: ${{ secrets.BIT_CONFIG_ACCESS_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Initialize Bit
        uses: bit-tasks/init@main
        with:
          ws-dir: "test-data"
          ripple: "true"
          debug: "true"
          cache: "true"
      - name: Resolve component packages from bit.cloud registry (Mandatory for component installation using package managers other than Bit)
        run: |
          npm config set '@bit:registry' https://node-registry.bit.cloud
          npm config set '@teambit:registry' https://node-registry.bit.cloud
          npm config set //node-registry.bit.cloud/:_authToken ${{ env.BIT_CONFIG_ACCESS_TOKEN }}
      - name: Installed Node version test
        run: |
            node -v
      - name: Installed Bit version test
        run: |
          bit -v
      - name: Installed Bit location test
        run: |
          which bit
      - name: Bit token test
        run: echo "$(bit config get user.token)"
      - name: Bit workspace directory environment variable test
        run: |
          echo $WSDIR
      - name: Ripple CI environment variable test
        run: |
          echo $RIPPLE
      - name: Debug environment variable test
        run: |
          echo $DEBUG
      - name: Bit org environment variable test
        run: |
          echo $ORG
      - name: Bit scope environment variable test
        run: |
          echo $SCOPE
      - name: Bit analytics reporting environment variable test
        run: |
          echo $BIT_CONFIG_ANALYTICS_REPORTING
      - name: Bit anonymous reporting environment variable test
        run: |
          echo $BIT_CONFIG_ANONYMOUS_REPORTING
      - name: Bit interactive environment variable test
        run: |
          echo $BIT_CONFIG_INTERACTIVE
      - name: Bit user token environment variable test
        run: |
          echo $BIT_CONFIG_ACCESS_TOKEN
      - name: Bit path environment variable test
        run: |
          echo $PATH
      - name: Bit console environment variable test
        run: |
          echo $BIT_DISABLE_CONSOLE
      - name: Bit spinner environment variable test
        run: |
          echo $BIT_DISABLE_SPINNER
